
<div id="carousel-{{ name }}" class="carousel slide {{ class }}" data-ride="carousel" {{ dataoptions }}>
    {# Indicators #}
    <ol class="carousel-indicators">
        {% for image in images %}
            {% if loop.first %}{% set active = 'active' %}{% else %}{% set active = '' %}{% endif %}
            <li data-target="#carousel-{{ name }}" data-slide-to="{{ loop.index }}" class="{{ active }}"></li>
        {% endfor %}
    </ol>

    {# Wrapper for slides #}
    <div class="carousel-inner" role="listbox">
        {% for image in images %}
            {% if loop.first %}{% set active = 'active' %}{% else %}{% set active = '' %}{% endif %}
            <div class="item {{ active }}">
                <img src="{{ app.paths.files ~ image.filename }}" alt="alt="{{ image.title }}">
                <div class="carousel-caption">{{ image.title }}</div>
            </div>
        {% endfor %}
    </div>

    {# Controls #}
    <a class="left carousel-control" href="#carousel-{{ name }}" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">{{ prev }}</span>
    </a>
    <a class="right carousel-control" href="#carousel-{{ name }}" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">{{ next }}</span>
    </a>
</div>
